
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: linear-gradient(90deg, rgba(4,70,87,1) 0%, rgba(8,120,115,1) 33%, rgba(72,230,188,1) 81%);
}
